// Abstracts
@import './abstracts/vars';
@import './abstracts/spacing-helpers';
@import './abstracts/typography-helpers';

// Mixins
@import './abstracts/mixins';

// Vendor
@import './vendor/vue-formulate/snow.min.scss';
@import './vendor/vue-formulate/snow-override.scss';

// Components
@import './components/base';
@import './components/panel';
@import './components/buttons';

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $page-bg;
}
